#root {
  font-family: "IBM Plex Sans";
}
.App {
  background-color: #f3f5f5;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  background-color: white;
}
header img {
  width: 155px;
}
.logo-section {
  max-width: 1200px;
  margin: auto;
}
.body {
  display: flex;
  flex-direction: row-reverse;
}
.white-bg {
  background-color: white;
}
.top-section {
  display: flex;
  color: #868a8a;
  font-size: 19px;
  padding: 40px 0px;
  background-color: white;
}
.description {
  padding: 10px;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: #2e3333;
  margin: 20px 0px;
}
h2 {
  font-size: 18px;
  color: #2e3333;
  margin: 10px 0px;
}
.top-section-img {
  width: 400px;
  border-radius: 10px;
}
.menu-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.basket-container {
  background-color: aqua;
  width: 30%;
}
.basket-container h3 {
  background-color: #bac3c3;
  color: #8b9a9b;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.basket {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #bac3c3;
}
.basket p {
  margin-bottom: 40px;
}
.meals {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 95%;
}
.options {
  display: flex;
  flex-direction: column;
}
.menu-container {
  width: 48%;
  color: #868a8a;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

p {
  line-height: 25px;
}
.food-caption {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.left-section {
  width: 70%;
}
.counter {
  display: flex;
}
